body {
	background: #333;
	
}

h1	{
		color: #fff;
	}
	.title-stroke svg {
		
		width: 50px !important;
		cursor: pointer;
	}	
	.kine svg {
		
		width: 550px !important;
		cursor: pointer;
	}	

.back-animation svg {
	
}

.pop-notification {
	position: fixed;
	right: 0;
	top: 0;
}

.pop-notification svg {
	width: 450px !important;
}
